[user]
  name = Petr Marek
  email = contact@petrmarek.eu

[push]
  default = simple

[pull]
  rebase = true

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[rerere]
  enabled = 1
