[user]
  name = Petr Marek
  email = contact@petrmarek.eu

[push]
  default = simple

[alias]
  stash-rename = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git diff-index --quiet HEAD; s=$?; [ $s != 0 ] && git stash save \"tmp stash from stash-rename\"; git stash apply $rev && shift && git stash save \"$@\" && [ $s != 0 ] && git stash pop stash@{1}; }; _"

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[merge]
  tool = meld

[rerere]
	enabled = 1
