[submodule "dotty"]
	path = dotty
	url = git@github.com:vibhavp/dotty.git
	ignore = all
[submodule "subl/Packages/SublimeLinter"]
	path = subl/Packages/SublimeLinter
	url = git@github.com:mreq/SublimeLinter3.git
	ignore = all
[submodule "subl/Packages/MreqColorScheme"]
	path = subl/Packages/MreqColorScheme
	url = git@github.com:mreq/mreq-theme.git
	ignore = all
[submodule "subl/Packages/BetterCoffeescriptFork"]
	path = subl/Packages/BetterCoffeescriptFork
	url = git@github.com:mreq/sublime-better-coffeescript.git
[submodule "subl/Packages/SublimeLinter-rubocop"]
	path = subl/Packages/SublimeLinter-rubocop
	url = git@github.com:mreq/SublimeLinter-rubocop.git
[submodule "subl/Packages/SublimeMagic"]
	path = subl/Packages/SublimeMagic
	url = git@github.com:mreq/SublimeMagic.git
[submodule "subl/Packages/Babel"]
	path = subl/Packages/Babel
	url = git@github.com:babel/babel-sublime.git
