xfce4/panel/xfce4-sensors-plugin*.rc
xfce4/xfconf/xfce-perchannel-xml/*.xml
!xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
!xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
!xfce4/xfconf/xfce-perchannel-xml/keyboard-layout.xml

vim/.vim/.netrwhist

/vim/.vim/dein.vim/

/xfce4/panel/whiskermenu-1.rc

/xfce4/terminal/accels.scm
