xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
xfce4/panel/xfce4-sensors-plugin*.rc
xfce4/xfconf/xfce-perchannel-xml/displays.xml
xfce4/xfconf/xfce-perchannel-xml/keyboards.xml
xfce4/xfconf/xfce-perchannel-xml/xfwm4.xml

scripts/wmctile/python/*
!scripts/wmctile/python/wmctile.py
