[Desktop Entry]
Type=Application
Icon=/opt/extras.ubuntu.com/pushbullet-indicator/share/pushbullet-indicator/icons/pushbullet-indicator.svg
Exec=/opt/extras.ubuntu.com/pushbullet-indicator/bin/pushbullet-indicator
Hidden=true
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=pushbullet-indicator-autostart
Comment=PushBullet-Indicator official shortcut

