[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=redshift
Comment=
Exec=redshift
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

