[Desktop Entry]
Type=Application
Icon=redshift
Version=1.0
Name=Redshift
GenericName=Color temperature adjustment
Comment=Color temperature adjustment tool
Exec=redshift-gtk
StartupNotify=true
Hidden=false
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true

