[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=window_change_watch
Comment=
Exec=/home/petr/Dropbox/ubuntu_one/scripts/wm/x11winmatch.py
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

