* {
  border: none;
  border-radius: 0;
  font-family: FiraCodeNerdFontMono;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @base-blackey;
  border-bottom: 0;
  color: @base-whitey;
}

/*
tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}
*/

#workspaces button {
  padding: 0 4px;
  min-width: 1em;
  background: transparent;
  color: @base-whitey;
}

#workspaces button.focused {
  background: @base-focus;
  color: @base-color-on-focus;
}

#battery.charging {
  color: @base-yellow;
}

@keyframes blink {
  to {
    background-color: @base-whitey;
    color: @base-blackey;
  }
}

#battery.warning:not(.charging) {
  background: @base-red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.module {
  padding: 0 0.5em;
}

#language {
}

#language.cz {
  background: @base-red;
  color: @base-blackey;
}

#custom-spacer {
  padding: 0;
}

#idle_inhibitor.activated {
  background: @base-red;
}
