UpdateInterval=3
TimeScale=0
Size=35
Mode=0
Frame=1
Border=1
Bars=0
TrackedCore=0
Command=htop
InTerminal=1
StartupNotification=0
ColorMode=0
Foreground1=#00008181f2f2
Foreground2=#ffff00000000
Foreground3=#00000000ffff
Background=#527658ce5869

