Packages/*
!Packages/User
!Packages/User*

!Packages/AceJump
!Packages/BetterCoffeescriptFork
!Packages/CaseConversion
!Packages/MaxPane
!Packages/MreqColorScheme
!Packages/Origami
!Packages/SublimeMagic
!Packages/SublimeLogMagic
!Packages/YAML Nav

Packages/User/Package Control.*
!Packages/User/Package Control.sublime-settings
Packages/User/ChangeList.json
Packages/User/SublimeLinter
