Packages/*
!Packages/User
Packages/User/rbql_table_index

!Packages/AceJump
!Packages/BetterCoffeescriptFork
!Packages/CaseConversion
!Packages/MaxPane
!Packages/MreqColorScheme
!Packages/Origami
!Packages/SublimeMagic
!Packages/SublimeLogMagic
!Packages/YAML Nav

Packages/User/Color Highlighter/
Packages/User/GitSavvy/GitSavvy*.hidden-tmTheme

Packages/User/Package Control.*
!Packages/User/Package Control.sublime-settings
Packages/User/ChangeList.json
Packages/User/SublimeLinter
