Packages/*
!Packages/User
!Packages/UserAceJump
!Packages/UserCoffee
!Packages/UserCss
!Packages/UserGit
!Packages/UserTeX
!Packages/UserOrigami
!Packages/UserRuby
!Packages/UserYaml

!Packages/Base16
!Packages/BetterFindBufferFork
!Packages/BetterCoffeescriptFork
!Packages/MreqColorScheme
!Packages/Origami
!Packages/SendTextPlus
!Packages/yardgen

Packages/User/GitSavvy/GitSavvy.active-diff-view.*

Packages/User/Package Control.*
!Packages/User/Package Control.sublime-settings
Packages/User/ChangeList.json
Packages/User/SublimeLinter
