"*":
  "atom-ctags":
    autoBuildTagsWhenActive: true
  atomatigit: {}
  "autocomplete-ctags": {}
  "autocomplete-js-import":
    fileRelativePaths: false
    fuzzy:
      enabled: true
      fileTypes: [
        "*"
      ]
  "base16-syntax": {}
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "autoflow"
      "background-tips"
      "atom-ctags"
      "tree-view"
    ]
    ignoredNames: [
      ".git"
      ".sass-cache"
      "node_modules"
      "tmp"
    ]
    projectHome: "/home/petr/work"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "gruvbox-plus-syntax"
    ]
  "disable-keybindings":
    prefixKeys: [
      "ctrl-k"
      "ctrl-w"
    ]
  editor:
    fontFamily: "Consolas"
    fontSize: 18
    invisibles: {}
    lineHeight: 1.3
    softWrap: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "d11a1e59-99c5-f8ff-e1df-4c527560c43f"
  "git-plus":
    pullBeforePush: "pull --rebase"
  "gruvbox-plus-syntax": {}
  "linter-ui-default":
    showPanel: true
  "one-dark-ui": {}
  "relative-numbers": {}
  "vim-mode-plus":
    keymapYToYankToLastCharacterOfLine: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
