"*":
  "atom-ctags":
    autoBuildTagsWhenActive: true
  atomatigit: {}
  "autocomplete-ctags": {}
  "base16-syntax":
    scheme: "Eighties"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "autoflow"
      "background-tips"
      "atom-ctags"
    ]
    ignoredNames: [
      ".git"
      ".sass-cache"
      "node_modules"
      "tmp"
    ]
    projectHome: "/home/petr/work"
    themes: [
      "atom-dark-ui"
      "gruvbox"
    ]
  "disable-keybindings":
    prefixKeys: [
      "ctrl-k"
      "ctrl-w"
    ]
  editor:
    fontFamily: "Consolas"
    fontSize: 18
    invisibles: {}
    lineHeight: 1.3
    softWrap: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "d11a1e59-99c5-f8ff-e1df-4c527560c43f"
  "git-plus":
    pullBeforePush: "pull --rebase"
  "one-dark-ui": {}
  "relative-numbers": {}
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
